
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/index">
    <ion-nav-view name="tab-index"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="主题日报" icon-off="ion-ios-paw-outline" icon-on="ion-ios-paw" href="#/tab/theme">
    <ion-nav-view name="tab-theme"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="关于我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
